black~=22.8
coverage[toml]~=6.4
flake8~=5.0
ipython~=8.5
mypy~=0.971
pytest~=7.1
pytest-cov~=3.0
pre-commit~=2.20
Pygments~=2.13
pytest-mock~=3.8
python-semantic-release~=7.32
tox~=3.26
twine~=3.8
types-python-dateutil~=2.8
types-setuptools~=65.4
